<div id = "left_text">
	
<div id = "contacts">	
	<table>
		
		<tr>
			<td>e.</td><td>celebrant@etrevan.com.au</td>
		</tr>
		<tr>
			<td>m.</td><td>0412 113 657</td>
		</tr>
		<tr>
			<td>p.</td><td>(61 2) 9664 1939</td>
		</tr>
		<tr>
			<td>f.</td><td>(61 2) 9664 1871</td>			
		</tr>
		
	</table>

	<p>Elizabeth is a Member of Australian Marriage Celebrants Incorporated<br/>
		and the Funeral Celebrants Association.
	</p>

</div>


</div>

