<div id = "left_text">
	<p class = "first">A celebration of life</p>
	<p>The death of a loved one, whether sudden or expected, is always a difficult time.
	</p>
	<p>Elizabeth is a compassionate and caring person whose aim is to create both a reflection
		and celebration of life in a ceremony that is faithful to the one you have lost and in keeping with the occasion.
	</p>
	<p>Through spending time with those closest to them, Elizabeth will put together and conduct the kind of ceremony that
		strongly reflects the personality and beliefs of the one who has died. At the same time the ceremony will give those present
		the best opportunity to acknowledge the loss and gain comfort in their grieving.
	</p>



</div>
