<div id = "mainpic">	
	<div class="slideshow">
		<%= image_tag "naming_placeholder_1.jpg", :width=>450, :height=>300%>
		<%= image_tag "naming_placeholder_2.jpg", :width=>450, :height=>300%>		
		<%= image_tag "naming_placeholder_4.png", :width=>445, :height=>333%>		

	</div>
</div>

<div id = "intro">
	<p>The acknowledgement of a new life in our midst is an important and ancient custom that Elizabeth can also help to make a memorable day for everyone. A wonderful celebration that can involve many family and friends and those you would like to take an active part in the upbringing of your child.
	</p>



</div>
