<div id = "left_text">
	<p class = "other_heading">Commitment ceremony</p>
	<p>The love of another person and a pledge to commit to them faithfully is an offer of true commitment. Elizabeth can assist you with the 
		inspiration and materials to create an occasion of beautiful celebration.<br/><br/>
	</p>
	<p class = "other_heading">Renewal of vows</p>
	<p>Special milestones, new beginnings and further strengthening of a bond are the essence of a Renewal of Vows. A time created to pause
		for thought and in the acknowledgement of a special relationship. Elizabeth would love to be of assistance in creating this 
		significant occasion for you.<br/><br/>
	</p>
	<p class = "other_heading">Themed celebrations</p>
	<p>Are you thinking of doing something a little different for your celebration? <br/>Elizabeth is open to your creative ideas and may be able
		to help you with a few of her own.
	</p>




</div>

